{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}Поиск по публикациям{% endblock title %}

{% block content %}

<h1>Поиск по публикациям</h1>

<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти" class="btn btn-outline-dark">
</form>
<br>

<p>Всего найдено: {{ filter.qs|length }}</p>

{% if filter.qs %}

<table class='table'>
    <tr>
        <td><span class='font-weight-bold'>Заголовок</span></td>
        <td align=center><span class='font-weight-bold text-nowrap'>Дата публикации</td>
        <td><span class='font-weight-bold'>Текст</td>
        <td><span class='font-weight-bold'></td>
    </tr>
    {% for new in filter.qs %}
    <tr>
        <td>{{ new.title|censor }}</td>
        <td class='text-center'>{{ new.datetime|date:'d.m.y h:m' }}</td>
        <td>{{ new.text|truncatewords:20|censor }}</td>
        <td><a href="/news/{{ new.pk }}">Перейти</a></td>
    </tr>
    {% endfor %}
</table>

{% comment %} {% if is_paginated %}
        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination">

                    {% if page_obj.has_previous %}  <!-- проверяем, есть ли предыдущая страница -->
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item disabled"><a class="page-link">Previous</a></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}

                        {% if page_obj.number == num %}  <!-- сравниваем с № текущей страницы -->
                            <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}  <!-- проверяем, есть ли следующая страница -->
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
                        <li class="page-item disabled"><a class="page-link" href="">Last</a></li>
                    {% endif %}

                </ul>
            </nav>
        </div>
{% endif %} {% endcomment %}

{% else %}
<h4>Публикаций не найдено</h4>
{% endif %}

{% endblock content %}